/.env
/.env.local
/.env.*.local
/.git
/.github
/.gitignore
/docker-compose*.yml
/node_modules
/public/bundles/
/var/
/vendor/
!/var/www/symfony/var
/.dockerignore
/.editorconfig
/.gitattributes
/.gitlab-ci.yml
/npm-debug.log
/yarn-error.log
.DS_Store
/*.md
/.*.md
/LICENSE
/phpunit.xml.dist
/tests
!public/index.php
